include CMakeLists.txt
include libevmface/*.cpp
include libevmface/*.h
include libevmface/CMakeLists.txt
include libethcore/*.cpp
include libethcore/*.h
include libethcore/CMakeLists.txt
include libethential/*.cpp
include libethential/*.h
include libethential/CMakeLists.txt
include liblll/*.cpp
include liblll/*.h
include liblll/CMakeLists.txt
include libserpent/*.cpp
include libserpent/*.h
include libserpent/CMakeLists.txt
include libpyserpent/*.cpp
include libpyserpent/*.h
include libpyserpent/CMakeLists.txt
include libpyserpent/*.cpp
include libpyserpent/CMakeLists.txt
include lllc/*.cpp
include lllc/CMakeLists.txt
include sc/*.cpp
include sc/CMakeLists.txt

include README.md
include BuildInfo.sh
