/*
Inkpot theme for code-mirror
https://github.com/ciaranm/inkpot
*/

/* Color scheme for code-mirror */

.cm-s-inkpot.CodeMirror {
  color: #cfbfad;
  text-shadow: #1e1e27 0 1px;
  background-color: #1e1e27;
  line-height: 1.45em;
  color-profile: sRGB;
  rendering-intent: auto;
}

.cm-s-inkpot .CodeMirror-gutters { background: #2e2e2e; border-right: 0px solid #aaa; }
.cm-s-inkpot .CodeMirror-linenumber { color: #8b8bcd; }
.cm-s-inkpot .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-inkpot span.cm-comment     { color: #cd8b00; }
.cm-s-inkpot span.cm-def         { color: #cfbfad; font-weight:bold; }
.cm-s-inkpot span.cm-keyword     { color: #808bed; }
.cm-s-inkpot span.cm-builtin     { color: #efac6d; }
.cm-s-inkpot span.cm-variable    { color: #cfbfad; }
.cm-s-inkpot span.cm-string      { color: #ffcd8b; }
.cm-s-inkpot span.cm-number      { color: #f0ad6d; }
.cm-s-inkpot span.cm-atom        { color: #cb6ecb; }
.cm-s-inkpot span.cm-variable-2  { color: #ffb8ff; }

.cm-s-inkpot span.cm-meta        { color: #409090; }
.cm-s-inkpot span.cm-qualifier   { color: #808bed; }
.cm-s-inkpot span.cm-tag         { color: #808bed; }
.cm-s-inkpot span.cm-attribute   { color: #FF5555; }
.cm-s-inkpot span.cm-error       { color: #f00; }

.cm-s-inkpot .cm-bracket { color: #cb4b16; }
.cm-s-inkpot .CodeMirror-matchingbracket { color: #859900; }
.cm-s-inkpot .CodeMirror-nonmatchingbracket { color: #dc322f; }

.cm-s-inkpot .CodeMirror-selected { background: #4e4e8f !important; }
span.CodeMirror-selectedtext { color: #ffffff !important; }


/* Code execution */
.CodeMirror-exechighlight {
	border-bottom: double 1px #94A2A2;
}


/* Error annotation */
.CodeMirror-errorannotation {
	border-bottom: 1px solid #DD3330;
	margin-bottom: 4px;
	}

.CodeMirror-errorannotation-context {
	font-family: monospace;
	color: #EEE9D5;
	background: #b58900;
	padding: 2px;
	text-shadow: none !important;
	border-top: solid 2px #063742;
}

.CodeMirror-search-field
{
	font-size: 12px;
}

.CodeMirror-gasCost
{
	font-family: monospace;
	font-size: 14px;
	color: #409090;
	text-shadow: none !important;
	margin-left: 5px;
}
