Source: cpp-ethereum
Section: science
Priority: extra
Maintainer: Ethereum (Ethereum Project) <ethereum@gavwood.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libgmp-dev, libcryptoppeth-dev, libboost-filesystem1.53-dev, libboost-mpi1.53-dev, libboost1.53-dev, libleveldb-dev, libminiupnpc-dev, qtbase5-dev, qt5-default
Standards-Version: 3.9.4
Homepage: http://ethereum.org
#Vcs-Git: git://git.debian.org/collab-maint/cpp-ethereum.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cpp-ethereum.git;a=summary

Package: libethereum
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgmp, libcryptoppeth, libboost-filesystem1.53.0, libboost-mpi1.53.0, libleveldb, libminiupnpc, secp256k1eth
Description: The future of computational social contracts.
 A long description of libethereum.

Package: libethereum-dev
Section: libdevel
Architecture: any
Depends: libethereum (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libgmp, libcryptoppeth, libboost-filesystem1.53.0, libboost-mpi1.53.0, libleveldb, libminiupnpc
Description: The future of computational social contracts. Dev Files.
 A long description of libethereum. Dev Files.

Package: alethzero
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libethereum (= ${binary:Version}), qtbase5
Description: The Qt-based Ethereum GUI.
 A long description of alethzero.
